numpy==1.15.4
h5py==2.5.0
Lasagne==0.2.dev1
matplotlib==2.2.3
tqdm==4.11.2
scipy==1.1.0
scikit_image==0.14.1
tifffile==0.12.0
Config==0.4.2
Datahandling==3.3.0
Pillow==6.1.0
kaggle==1.5.4
skimage==0.0
setuptools==40.4.3
Theano==0.9.0
Lasagne==0.2.dev1
seaborn==0.7.0.dev0


